<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>SRVHIT</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link href="/css/style.css" rel="stylesheet" type="text/css">
        <!-- <link href="/css/card.css" rel="stylesheet" type="text/css"> -->
<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

    </head>
    <body>
        <div class="container">
            <div class="header clearfix">
                <nav>
                    <ul class="nav nav-pills pull-right">
                        {{#if user}}
                        <li role="presentation" class="active"><a href="/user/dashboard">Dashboard</a></li>
                        <li role="presentation"><a href="/user/logout">Logout</a></li>
                        {{else}}
                        <li role="presentation"><a href="javascript:void(0)" onclick="popLogin()">Login</a></li>
                        <li role="presentation"><a href="/register">Register</a></li>
                        {{/if}}
                    </ul>
                </nav>
                <a class="navbar-brand" href="/">SRVHIT</a>
            </div>

            <div class="row page-content">
                <div class="col-lg-12">
                    {{#if success_msg}}
                        <div class="alert alert-success">
                            {{success_msg}}
                        </div>
                    {{/if}}
                    {{#if error_msg}}
                        <div class="alert alert-danger">
                            {{error_msg}}
                        </div>
                    {{/if}}
                    {{#if error}}
                        <div class="alert alert-danger">
                            {{error}}
                        </div>
                    {{/if}}
                    {{{body}}}
                </div>
            </div>

            <footer class="footer">
                <p>&copy; 2017 JNED, Inc.</p>
            </footer>

        </div> <!-- /container -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		{{#if user}}
		{{else}}
		<div class="splash-overlay">
			<div class="splash-container">
				<h1>SRVHIT</h1>
				<form class="login-form" id="login" method="POST" action="user/login" onsubmit="return validateLoginForm();">
					<label for="username">Username:</label>
					<input name="username" id="username" type="text" />
					<label for="pass">Password:</label>
					<input type="password" id="pass" name="password" />
					<input type="submit" value="Log In" id="loginsubmit" />
				</form>
			</div>
		</div>
		<script>
			function popLogin() {
				$('.splash-overlay').css('display', 'flex').animate({ opacity: 1 }, { duration: 150 });
			}
			
			function validateLoginForm() {
				if($('#username').val() !== '' && $('#pass').val() !== '') {
					$('.splash-container').animate({ opacity: 0 }, { duration: 300 });
					setTimeout(function () {
					$('body').animate({ opacity: 0 }, { duration: 300, complete: function () {
							$('#login')[0].submit();
						} });
					}, 150);
				}
				return false;
			}
		</script>
		{{/if}}
    </body>
</html>
