<form method="post" action="/business/dashboard">
	<div class="flex-row">
		<section class="info-panel">
			<h2>{{ username }}</h2>
			<p>{{ user.contact_info.email }}<br />{{ user.contact_info.websites }}</p>
		</section>
		<div class="content-panel">
			<section>
				<h3>About</h3>
				<div class="indent">
				    <label class="control-label">Address</label>
					<div class="address-block">
						<div class="flex-row">
							<input type="text" name="address" placeholder="Street" />
						</div>
						<div class="flex-row">
							<input type="text" name="city" placeholder="City" style="flex-grow:1" />
							<input type="text" name="state" placeholder="State" maxlength="2" style="width: 15%;flex-grow:1" />
							<input type="text" name="postalcode" placeholder="Zip" maxlength="5" style="width: 30%;flex-grow:1" />
						</div>
					</div>
				</div>
				<div class="indent">
					<label>About Us</label>
					<input type="text" name="text" value="{{ user.about }}"></input>
				</div>
			</section>
			<section id="experience-panel">
				<h3>{{user.username}}</h3>
				<div class="indent">
					<label>Industry</label>
					<input type="text" name="industry" value="{{ user.about.industry }}"></input>
					<br /><br />
					
					<label>Company Size</label>
					<input type="number" name="companySize" value="{{ user.about.companySize }}"></input>
					<br /><br />
				</div>
			</section>
		</div>
	</div>
			
</form>
