<form method="post" action="/business/dashboard">
	<div class="flex-row">
		<section class="info-panel">
			<h2>{{ user.username }}</h2>
			<p>{{ user.contact_info.email }}<br />{{ user.contact_info.websites }}</p>
		</section>
		<div class="content-panel">
			<section>
				<h3>About</h3>
				<div class="flex-row indent">
                    <div style="flex-grow: 1;padding-right: 20px;">
						<label>Address</label>
						<input type="text" class="form-control" placeholder="address" name="address" value="{{ user.about.location.address }}">
					</div>
					<div style="flex-grow: 1;padding-right: 20px;">
						<label>City</label>
						<input type="text" class="form-control" placeholder="city" name="city" value="{{ user.about.location.city }}">
					</div>
					<div style="width: 30%">
						<label>Zip / Postal Code</label>
						<div class="controls">
							<input id="postal-code" name="postalcode" type="text" placeholder="zip or postal code" class="form-control" value="{{ user.about.location.zipcode }}">
							<p class="help-block"></p>
						</div>
					</div>
				</div>
				<div class="indent">
					<label>About Us</label>
					<input type="text" name="text" value="{{ user.about.text }}"></input>
				</div>
			</section>
			<section id="experience-panel">
				<h3>{{user.username}}</h3>
				<div class="indent">
					<label>Industry</label>
					<input type="text" name="industry" value="{{ user.about.industry }}"></input>
					<br /><br />
					
					<label>Company Size</label>
					<input type="number" name="companySize" value="{{ user.about.companySize }}"></input>
					<br /><br />
				</div>
			</section>
		</div>
	</div>
			
</form>